<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="File" fileName="src/main/resources/log4j/file.log">
            <PatternLayout pattern="%d %-5p [%t] - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>